body {
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    position: relative;
    left:200px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}


header {
    margin: 5px;
    padding: 10px:
    margin: 10px;
    position: relative;
    top:0px;
    z-index: 10;
}

aside, footer, nav {
    background: #ebebeb;
    margin: 10px;
}

footer {
    position: relative;
    bottom: 0px;
}

#side-content {
    float: right;
    height: 300px;
}

.nav-bullet {
    list-style: none;
}

#main-content {
    background: #ebebeb;
    width: 495px;
    margin: 10px;
    position: relative;
    left:0px;
}

article {
    background: #777;
    color: #ebebeb;

}


